.app-footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
    color: #ddd;
    padding: 5px;
    font-size: 0.8em;
    height: 88px;

    .song-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5em;
        width: 30%;

        .image-container {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 4em;
            height: 4em;
            margin-inline-end: 5%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
        }
        .song-description {
            display: flex;
            flex-direction: column;
            max-width: calc(100% - 4em - 5%);
            p {
                margin: 0.2em;
            }
        }

        // .artist
        .title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            position: relative;
            overflow: hidden;
            animation: marquee 20s linear infinite;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
                animation: none;
            }
        }
        .artist {
            color: #999;
        }
    }

    .title {
        position: relative;
        width: 200%;
        &:before {
            content: attr(title);
            position: absolute;
            width: 100%;
            white-space: nowrap;
        }
    }

    @keyframes marquee {
        0% {
            text-indent: -100%;
        }
        // 50% {
        //     text-indent: -100%;
        // }
        100% {
            text-indent: 100%;
        }
    }

    .progress-controller {
        width: 80%;
        display: flex;
        font-size: 0.9em;
        justify-content: center;
        flex-direction: column;
        margin-inline-start: 256px;
        margin-inline-end: 303px;
        align-items: center;
        color: #999;

        .control-buttons {
            display: flex;
            align-items: center;
            margin-block-end: 1.2em;
            margin-inline-end: 2em;
            gap: 2.2em;
            .play-pause-icon {
                margin-inline-start: 1em;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ddd;
                color: #111;
                border-radius: 50%;
                transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
                &:hover {
                    transform: scale(1.06);
                }
            }
        }

        .progress-container {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1em;
            margin-block-start: -0.5em;

            .progress-indicator-container {
                flex-grow: 1;
                position: relative;

                &:hover .rc-slider,
                &:focus-within .rc-slider {
                    z-index: 3;
                }

                .rc-slider {
                    position: absolute;
                    top: -5px;
                    z-index: -1;

                    &:hover {
                        .rc-slider-track {
                            background-color: #2d5;
                        }
                        .rc-slider-handle {
                            opacity: 1;
                        }
                    }

                    .rc-slider-track {
                        background-color: rgb(248, 248, 248);
                    }

                    .rc-slider-rail {
                        background-color: #ccc4;
                    }

                    .rc-slider-handle {
                        background-color: #fff;
                        border: none;
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }

                        &:active {
                            box-shadow: none;
                        }
                    }
                }
            }

            .progress-bar {
                height: 4px;
                border-radius: 10px;
                width: 100%;
                background-color: #ccc4;
                .progress {
                    position: relative;
                    height: 100%;
                    border-radius: 10px;
                    background-color: #ffffff;
                }
            }
        }
    }

    .volume-container {
        display: flex;
        align-items: center;
        gap: 1em;
        justify-content: space-between;
        width: 20%;

        .buttons-right {
            display: flex;
            gap: 1em;
        }

        .volume-indicator-container {
            flex-grow: 1;
            position: relative;

            &:hover .rc-slider,
            &:focus-within .rc-slider {
                z-index: 3;
            }

            .rc-slider {
                position: absolute;
                top: -5px;
                z-index: -1;

                &:hover {
                    .rc-slider-track {
                        background-color: #2d5;
                    }
                    .rc-slider-handle {
                        opacity: 1;
                    }
                }

                .rc-slider-track {
                    background-color: rgb(255, 255, 255);
                }

                .rc-slider-rail {
                    background-color: #ccc4;
                }

                .rc-slider-handle {
                    background-color: #fff;
                    border: none;
                    opacity: 0;
                    &:active {
                        box-shadow: none;
                    }
                }
            }

            .volume-bar {
                height: 4px;
                border-radius: 10px;
                width: 100%;
                background-color: #ccc4;

                .volume-bar-progress {
                    position: relative;
                    height: 100%;
                    border-radius: 10px;
                    background-color: #ffffff;
                }
            }
        }
    }

    .icon {
        @include icon;
    }
}
