.header {
    display: flex;
    justify-content: space-between;
    // background-color: inherit;
    padding: 14px 25px;
    height: 64px;
    // border-radius: $layout-padding;
    position: sticky;
    top: 0;

    .header-butoons {
        align-items: center;

        button {
            fill: #7a7a7a;
            cursor: not-allowed;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background-color: #090909;
        }

        .back {
            margin-right: $layout-padding;
            align-items: center;
            justify-content: center;
        }

        .next {
            align-items: center;
            justify-content: center;
        }
    }

    .header-user {
        margin-right: 7px;
        margin-top: 2px;
        button {
            fill: #7a7a7a;
            cursor: not-allowed;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border: 0px;
            background-color: #090909;
            justify-content: center;
            align-items: center;
            .user-btn{
                padding: 0px 0px 2px;
            }
        }



    }
}