// .side-navbar{

//     .navigation{
//         ul{
//             list-style: none;
//             margin-top: 20px;
//             padding: 0;
//             li{
//                 padding: 10px 0px;
//             }
//         }
//         a{
//             color: #b3b3b3;
//             text-decoration: none;
//             font-weight: bold;
//             font-size: 13px;
//         }
//     }

//     .navigation ul li a:hover,
//     .navigation ul li a:active,
//     .navigation ul li a:focus{
//         color: #ffffff;
//     }
//      .policies{
//         position: absolute;
//         flex-wrap: wrap;
//         margin-right: 20px;
//         bottom: 0;
//         ul{
//             list-style: none;
//             margin: 0;
//             padding: 0;
//             margin-right: 44px;
//             li{
//                 padding-bottom: 5px;
//                 a{
//                     color: #b3b3b3;
//                     font-weight: 500;
//                     text-decoration: none;
//                     font-size: 10px;
//                 }
//             }
//         }
//      }
// }

.side-navbar-main {
    gap: $layout-padding;
    height: 100%;
    padding: 0px;
    font-family: CircularStd-Title-Bold;

    .navigation {
        border-radius: $layout-padding;
        cursor: default;
        background-color: $clr8;
    }

    ul {
        padding: $layout-padding 12px;
        border: 0;
        margin: 0;
        list-style: none;

        li {
            padding: 4px 12px;
            a {
                display: flex;
                color: #b3b3b3;
                gap: 20px;
                height: 40px;
                align-items: center;
            }
        }
        li :hover {
            text-decoration: none;
            color: #fff;
            transition: 0.2s;
            // transition: all ease 2s;
            .icon {
                fill: #fff;
                transition: 0.2s;
                // transition: all ease 0.2s;
            }
            a:active {
                color: #fff;
            }
        }
    }
    .user-station-list {
        img {
            width: 44px;
            height: 44px;
            border-radius: 4px;
            object-fit: cover;
        }
        li {
            padding: 4px 0px;
            margin-block-end: 5px;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 12px;
            font-family: CircularStd-Book;
            font-weight: 100;
            color: white;
        }
    }

    .icon {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #b3b3b3;
        margin-bottom: -7px;
        transition: 0.2s;
        border-radius: 50%;
        &:hover {
            background-color: #1a1a1a;
        }
    }

    span {
        font-size: 16px;
        font-weight: 700;
    }

    .library {
        flex: 1;

        .add-library {
            margin-left: 56px;
            align-items: center;
        }
    }
}
