.song-list {
    padding: 0px 24px;
    fill: rgb(255, 255, 255);

    table {
        width: 100%;
        border-collapse: collapse;
        font-family: CircularStd-Book;
        tbody{
            tr{
                &:first-child {
                    margin-top: 18px;
                }
            }
        }

        tr {
            padding: 0px 16px;
            align-items: center;
            justify-content: start;
            gap: 16px;
            text-overflow: ellipsis;

            

            &:hover {
                background-color: hsla(0, 0%, 100%, .1);
                border-radius: 6px;

                .hidden {
                    opacity: 1;
                }

                .song-idx {
                    display: none;
                }

                .play {
                    display: flex;
                }
            }
        }

        .like {
            width: 100%;
            padding: 7px 0px 0px 5px;
        }

        .time {
            margin-right: 21px;
        }

        .right-section {
            padding-top: 5px;
        }

        .column {
            font-size: 16px;
        }
    }

    thead {
        tr:first-child {
            font-size: 14px;
            height: 36px;
            border-bottom: 1px solid hsla(0deg, 0%, 100%, 0.1);
            border-radius: 0px;
        }
    }

    td:last-child {
        margin-right: 36px;
        justify-self: end;
    }
}