.song-list {
    table {
        width: 100%;
        border-collapse: collapse;
        font-family: CircularStd-Book;
        .icon {
            fill: #b3b3b3;
        }
        tr {
            padding: 0px 16px;
            border-radius: 6px;
            &:hover{
                background-color:hsla(0,0%,100%,.1);
                .hidden{
                    opacity: 1;
                }
                .song-idx{
                    display: none;
                }
                .play{
                    display: flex;
                }
            }
        }
        .like{
            width: 100%;
            padding: 7px 0px 0px 5px;
        }
        .time{
            margin-right: 21px;
        }
        .right-section{
            padding-top: 5px;
        }
    }

    tr:first-child {
        height: 36px;
        border-bottom: solid #4f4d4d 1px;
        border-radius: 0px;
        font-size: 14px;

        td:last-child {
            margin-right: 36px;
            justify-self: end;
        }

    }

    tr:nth-child(2) {
        margin-top: 18px;
    }

    tr {
        align-items: center;
        justify-content: start;
        gap: 16px;

        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;                }
    }

    
}