.station-details {
    .top-section {
        height: 276px;
        display: inline-flex;
        padding-bottom: 24px;

        img {
            height: 192px;
            width: 192px;
            align-self: end;
            margin-inline-end: 24px;
            box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            h1 {
                font-size: 6rem;
                margin-block-end: 12px;
            }

            p {
                margin: 0;
                font-size: rem(14px);
                margin-block-start: $layout-padding;
            }
        }
    }

    .mid-section {
        display: flex;
        padding: 24px 0px;

        .play-btn {
            background-color: #1ed760;
            inline-size: 56px;
            block-size: 56px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-inline-end: 32px;

            &:hover {
                transform: scale(1.04);
                cursor: pointer;
            }
        }

        button:not(.play-btn) {
            background-color: inherit;
            fill: rgba(255, 255, 255, 0.698);
            margin-inline-end: 24px;
            padding: 0px;

            &:hover {
                fill: white;
            }
        }
    }

    .bottom-section {
        .song-list {
            table {
                width: 100%;
                border-collapse: collapse;
                font-family: CircularStd-Book;
                .icon {
                    fill: #b3b3b3;
                }
                tr {
                    padding: 0px 16px;
                    border-radius: 6px;
                    &:hover {
                        background-color: hsla(0, 0%, 100%, 0.1);
                        
                        .hidden {
                            opacity: 1;
                        }
                        .song-idx {
                            display: none;
                        }
                        .play {
                            display: flex;
                        }
                    }
                }
                .like {
                    width: 100%;
                    padding: 7px 0px 0px 5px;
                }
                .time {
                    margin-right: 21px;
                }
                .right-section {
                    padding-top: 5px;
                }
            }

            tr:first-child {
                height: 36px;
                border-bottom: solid #4f4d4d 1px;
                border-radius: 0px;
                font-size: 14px;

                td:last-child {
                    margin-right: 36px;
                    justify-self: end;
                }
            }

            tr:nth-child(2) {
                margin-top: 18px;
            }

            tr {
                align-items: center;
                justify-content: start;
                gap: 16px;

                td {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .song-preview {
                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 14.4px;
                }

                td {
                    height: 54.4px;
                    align-items: center;

                    p {
                        margin: 0px;
                        color: white;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
