.station-list {
    display: grid;
    gap: 24px;
    overflow: hidden;
    grid-template-columns: repeat(4,minmax(0,1fr));    & >*:nth-child(4) ~ *{
        display: none;
    }
}

.station-index{
   
    h2:not(:first-of-type){
        // margin-bottom: 16px;
        margin-top: 45px
    }
    h2{
        margin-bottom: 25px;
        margin-top: 6px;
    }
}