.search-page {
    padding: 0px 24px;
    color: rgb(255, 255, 255);

    .header {
        padding: 0;
        .header-user {
            display: flex;
            align-items: center;
        }
    }

    h2 {
        margin-bottom: 21px;
    }

    form {
        position: fixed;
        top: 10px;
        left: 401px;
        z-index: 1;
        background-color: #242424;
        fill: rgba(255, 255, 255, 0.698);
        border: 0;
        border-radius: 500px;
        height: 47px;
        padding: 6px 48px;
        text-overflow: ellipsis;
        width: 28.45%;
        flex: 0 1 364px;
        margin-top: 6px;

        .icon {
            margin-left: -128px;
            margin-top: 10px;
        }
    }

    input {
        position: fixed;
        top: 10px;
        left: 401px;
        z-index: -1;
        background-color: #242424;
        border: 0;
        border-radius: 500px;
        height: 47px;
        padding: 6px 48px;
        text-overflow: ellipsis;
        width: 28.45%;
        flex: 0 1 364px;
        margin-top: 6px;
        color: rgb(255, 255, 255);

        &::placeholder {
            position: absolute;
            top: 17px;
            left: 35px;
            font-size: 14px;
        }
    }

    .genres {
        margin-top: 34px;
    }

    .genre-list {
        grid-gap: 24px;
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        padding: 0;

        .genre-preview {
            border: none;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            width: 100%;
            display: block;
            padding-bottom: 100%;
            background-color: rgb(83, 122, 161);

            img {
                right: 0;
                transform: rotate(25deg) translate(18%, -2%);
                bottom: 0;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                height: 100px;
                position: absolute;
                width: 100px;
            }

            span {
                box-sizing: border-box;
                margin-block: 0px;
                font-size: 1.5rem;
                font-weight: 700;
                color: white;
                max-width: 100%;
                overflow-wrap: break-word;
                padding: 16px;
                position: absolute;
            }
        }

        .pop {
            background-color: rgb(20, 138, 8);
        }

        .hip-hop {
            background-color: rgb(188, 89, 0);
        }

        .rock {
            background-color: rgb(233, 20, 41);
        }

        .latin {
            background-color: rgb(225, 17, 140);
        }

        .metal {
            background-color: rgb(233, 20, 41);
        }

        .punk {
            background-color: rgb(186, 93, 7);
        }

        .k-pop {
            background-color: rgb(119, 119, 119);
        }

        .gaming {
            background-color: rgb(232, 17, 91);
        }

        .workout {
            background-color: rgb(119, 119, 119);
        }

        .party {
            background-color: rgb(83, 122, 161);
        }

        .soul {
            background-color: rgb(220, 20, 140);
        }

        .disco {
            background-color: rgb(230, 30, 50);
        }

        .k-pop {
            background-color: rgb(20, 138, 8);
        }

        .mood {
            background-color: rgb(225, 17, 140);
        }

        .focus {
            background-color: rgb(80, 55, 80);
        }

        .electronic {
            background-color: rgb(216, 64, 0);
        }

        .wellness {
            background-color: rgb(165, 103, 82);
        }

        .sleep {
            background-color: rgb(30, 50, 100);
        }

        .classical {
            background-color: rgb(125, 75, 50);
        }

        .travel {
            background-color: rgb(13, 114, 237);
        }

        .summer {
            background-color: rgb(39, 133, 106);
        }

        .home {
            background-color: rgb(81, 121, 161);
        }
    }
}
