// .station-details {

//     .top-section {
//         height: 276px;
//         display: inline-flex;
//         padding-bottom: 24px;

//         img {
//             height: 192px;
//             width: 192px;
//             align-self: end;
//             margin-inline-end: 24px;
//             box-shadow: 0 4px 60px rgba(0, 0, 0, .5)
//         }

//         .details {
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-end;

//             h1 {
//                 font-size: 6rem;
//                 margin-block-end: 12px
//             }

//             p {
//                 margin: 0;
//                 font-size: rem(14px);
//                 margin-block-start: $layout-padding;
//             }
//         }
//     }

//     .mid-section {
//         display: flex;
//         padding: 24px 0px;

//         .play-btn {
//             background-color: #1ed760;
//             inline-size: 56px;
//             block-size: 56px;
//             border-radius: 50%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-inline-end: 32px;

//             &:hover {
//                 transform: scale(1.04);
//                 cursor: pointer;
//             }
//         }

//         button:not(.play-btn) {
//             background-color: inherit;
//             fill: rgba(255, 255, 255, 0.698);
//             margin-inline-end: 24px;
//             padding: 0px;

//             &:hover {
//                 fill: white;
//             }
//         }
//     }

// }

.station-details {
    display: grid;

    .header {
        grid-area: 1/1;
    }

    .list-section {
        grid-area: 2/1/3/2;

        .genres {
            display: none;
        }

        .search-section {
            padding: 24px 24px;
            position: relative;
            color: rgb(255, 255, 255);
            fill: rgb(179, 179, 179);

            .search-icon {
                position: absolute;
                width: 30px;
                margin-top: 12px;
            }
    
            input {
                background-color: hsla(0, 0%, 100%, .1);
                border: 0;
                border-radius: 4px;
                color: hsla(0, 0%, 100%, .7);
                height: 40px;
                padding: 8px 32px;
                text-overflow: ellipsis;
                transition-duration: .3s;
                transition-timing-function: cubic-bezier(.3, 0, .4, 1);
                width: 34%;
                margin-top: 23px;
            }
            h2 {
                border-top: 1px solid hsla(0, 0%, 100%, .1);
                padding-top: 33px;
                color: rgb(255, 255, 255);
            }
        }

    }

    .top-section {
        grid-area: 1/1/2/2;
        background: rgb(75, 28, 28);
        background-image: linear-gradient(transparent, rgba(0, 0, 0, .5));
        height: 340px;
        display: inline-flex;
        padding: 0px 24px;
        padding-bottom: 24px;
        width: 100%;
        // background-color: rgb(117 45 45);
        border-top-left-radius: 6px;
        border-top-Right-radius: 6px;
        justify-content: end;

        img {
            height: 232px;
            width: 232px;
            align-self: end;
            margin-inline-end: 24px;
            box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
            object-fit: cover;
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: white;

            h1 {
                font-size: 96px;
                margin-block-end: 30px;
                margin-block-start: 3px;
            }

            font-family: 'CircularStd-Bold';

            p {
                margin: 0;
                font-size: rem(14px);
                margin-block-end: 1px;

                span {
                    margin: 0px 4px;
                }
            }
        }
    }

    .mid-section {
        display: flex;
        padding: 24px 24px;

        .play-btn {
            background-color: #1ed760;
            inline-size: 56px;
            block-size: 56px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-inline-end: 32px;

            &:hover {
                transform: scale(1.04);
                cursor: pointer;
            }
        }

        button:not(.play-btn) {
            background-color: inherit;
            fill: rgba(255, 255, 255, 0.698);
            margin-inline-end: 24px;
            padding: 0px;

            &:hover {
                fill: white;
            }
        }

        .dropdown-container {
            display: flex;
        }
    }

    .bottom-section {
        .song-list {

            table {

                .icon {
                    fill: #b3b3b3;
                }

                tr {

                    &:hover {

                        .hidden {
                            opacity: 1;
                        }

                        .play {
                            display: flex;
                        }
                    }
                }

                .like {
                    width: 100%;
                    padding: 7px 0px 0px 5px;
                }

                .time {
                    margin-right: 21px;
                }

                .right-section {
                    padding-top: 5px;
                }
            }

            tr:first-child {

                td:last-child {
                    margin-right: 36px;
                    justify-self: end;
                }
            }

        }

    }
}


.station-details::before {
    content: "";
    background-color: rgb(75, 28, 28);
    height: 232px;
    grid-area: 2/1/3/2;
    background-image: linear-gradient(rgba(0, 0, 0, .6), #121212);
}