@font-face {
    font-family: CircularStd-Black;
    src: url(../fonts/Circular/CircularStd-Black.otf);
}
@font-face {
    font-family: CircularStd-BlackItalic;
    src: url(../fonts/Circular/CircularStd-BlackItalic.otf);
}
@font-face {
    font-family: CircularStd-Bold;
    src: url(../fonts/Circular/CircularStd-Bold.otf);
}
@font-face {
    font-family: CircularStd-BoldItalic;
    src: url(../fonts/Circular/CircularStd-BoldItalic.otf);
}
@font-face {
    font-family: CircularStd-Book;
    src: url(../fonts/Circular/CircularStd-Book.otf);
}
@font-face {
    font-family: CircularStd-BookItalic;
    src: url(../fonts/Circular/CircularStd-BookItalic.otf);
}
@font-face {
    font-family: CircularStd-Light;
    src: url(../fonts/Circular/CircularStd-Light.otf);
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}