// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: hsla(0,0%,100%,.7);
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #121212;

$layout-padding: 8px;

// Breakpoints

$small-tablet-breakpoint: 400px;
$tablet-breakpoint: 830px;
$small-breakpoint: 1050px;
$narrow-breakpoint: 1340px;
$normal-breakpoint: 1550px;
$wide-breakpoint:1750px;
